<mat-list role="list">
    <mat-list-item role="listitem">
        <button mat-button routerLink="/all">
            <span 
                appSwitchTextColor="blue"
            >
                Total Info
            </span>
        </button>
    </mat-list-item>
    <mat-list-item role="listitem">
        <button mat-button>
            <span
                appSwitchTextColor="blue"
            >
                By Region
            </span>
        </button>
    </mat-list-item>
    <mat-list-item role="listitem" *appIfnot="false">
        <button mat-button routerLink="/about">
            <span
                appSwitchTextColor="blue"
            >
                About
            </span>
        </button>
    </mat-list-item>
</mat-list>