<mat-toolbar color="primary">
  <button (click)="drawer.toggle()" mat-icon-button class="example-icon"
          aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>COVID map</span>
  <span style="width: 80%;"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon routerLink="/about">info</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <app-left-panel></app-left-panel>
  </mat-drawer>
    <router-outlet></router-outlet>
</mat-drawer-container>
